# python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
server/downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# mypy
.mypy_cache/
dmypy.json

# misc
tmp/
.DS_Store
*.pem

# environments
.env*
!.env.template
.env.*
.venv
env/
venv/
.pytest_cache/

**/node_modules
.opencode

.vscode/
